@model WebApiCacheDemo.Contracts.Samples.DateNumberObject

@{
    ViewBag.Title = "Uncached Date Sample";
}

<h2>Uncached Results</h2>

<div class="row">
    <span><strong>Current Date:</strong></span>
    @Model.CurrentDate
</div>
<div class="row">
    <span><strong>Random Number:</strong></span>
    @Model.RandomNumber
</div>